@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


.roomList {
	width: 275px;
	display: block;
	&__room-button {
		border-radius: 0;
		transition-delay: 0.6s;
		margin-bottom: -11px;
		height: 51px;
		@include getMainColor();
		
		&:hover {
			@include getMainColorHover();

		}

		&--active {
			transition-delay: 0s;
		}
	}

	&__action-button {

		&--active {
			@include getActiveColor();
		}
	
	}

	&__main {
		box-sizing: border-box;
		border-radius: 0 0 16px 16px;
		display: flex;
		flex-direction: column;
		height: inherit;
		max-height: inherit;
		// place-content: flex-end;
		
	}

	&__header {
		height: 40px;
		display: flex;
		@include withGradient(#c56e6e13, #4d3e3e44, #9f27c411, #1339b409, #ffffff09);
	}

	&__listContainer {
		margin-top: 30px;
		margin-left: 0;
		padding-left: 0;
		list-style: none;
		overflow-y: scroll;
		overflow-x: hidden;
		height: 75vh;
		display: flex;
		flex-direction: column;
	}

	&__droptop-chats-input {
		display: flex;
		justify-content: center;
		box-sizing: border-box;

		input {
			width: 240px;
			height: 30px;
			text-align: left;
		}
	}

	&__droptop-chats-text {
		box-sizing: border-box;
		position: relative;
		display: flex;
		justify-content: center;
		text-align: center;
		padding-top: 10px;

		@include getFont($size: large, $weight: 400, $color: $gray-color, $height: 24px);
	}

	&__droptop-chats-button {
		box-sizing: border-box;
		position: relative;
		width: fit-content;
		padding-left: 8px;
		padding-right: 8px;
		right: 14px;
		bottom: 10px;
	}

	&__droptop-chats-button-container {
		display: flex;
		justify-content: flex-end;
	}

	&__droptop {
		border-top: none;
		@include withGradient(hsla(0, 17%, 7%, 0.8),
				hsla(0, 10%, 25%, 0.8), rgba(105, 30, 128, 0.8), rgba(19, 56, 180, 0.8), rgba(255, 255, 255, 0.8));
	}

	

	&__chats-action-menu {
		display: contents;
		height: 140px;
	}

	&__droptop-chats-action-menu {
		@include withGradient(hsla(0, 17%, 7%, 0.9),
				hsla(0, 10%, 25%, 0.8), rgba(105, 30, 128, 0.1), rgba(19, 56, 180, 0.8), rgba(255, 255, 255, 0.8));
	}

	&__droptop-no-border-radius {
		border-radius: 0 !important;
		border-top: 1px solid;
	}

	&__droptop-container {
		height: 86vh !important;
		max-height: 86vh;
		margin-top: 10px;
	}

	&__droptop-content {
		display: flex;
		flex-direction: column;
		height: inherit;
		max-height: inherit;
		position: relative;
		overflow: hidden;
	}

	&__chats-action-wrapper {
		display: flex;
		flex-direction: column-reverse;
		height: inherit;
		margin-top: -1.8vh;
	}

}