@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.top-bar {
	display: grid;
	grid-template-columns: auto 1fr 1fr 1fr auto 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"chat . . . room .";


	@include getMainColor();


	&__chat {
		grid-area: chat;
		height: fit-content;
	}

	&__room-list {
		grid-area: room;	
	}
}