@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


.input {

	input {
		width: 500px;
		padding: 6px 10px;
		margin: 8px 0 25px;
		box-sizing: border-box;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 8px;
		color: $gray-color;
		// @include withGradient(#41292941, #251919b9, #9f27c411, #1339b409, #ffffff09);
		background: none;
			background-blend-mode: none;
		&:focus {
			outline: none !important;
		}
	}


	
	&--error {

		input {
			box-shadow: 1px 1px 24px hsl(273, 100%, 51%);
		}
	}

}