@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.droptop {
	display: block;

	width: 275px;
	height: 0;
	padding-bottom: 0;
	pointer-events: none;
	transition: 0.6s;
	border-radius: 0 0 16px 16px;

	&--active {
		pointer-events: all;
		height: inherit;
		transition: 0.6s;
	}

	&__content {
		opacity: 0;
		&--active {
			opacity: 1;
			transition-delay: 0.5s;
		}
	}

	
}