@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.droptop {
	display: block;
	width: auto;
	height: 0;
	padding-bottom: 0;
	pointer-events: none;
	border-radius: 0 0 16px 16px;
	transition: 0.6s;
	&--active {
		pointer-events: all;
		height: inherit;
		max-height: inherit;
		position: relative;
		z-index: 1;
		transition: 0.6s;
	}

	&__content {	
		height: 0;
		overflow: hidden;
		transition: all 0.6s;
		&--active {
			height: inherit;
			max-height: inherit;
			transition: all;
		}
	}
	
}