@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.chat {

	display: flex;
	flex-direction: column;

	min-height: 890px;
	height: auto;
	width: 550px;
	position: absolute;
	border-radius: 16px;
	border: 1px solid $border-color;

	@include getMainColor();

	&__bottom-bar {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 65px;
		width: 100%;
		border-top: 1px solid $border-color;
		bottom: 0;
	}

	&__input {
		input {
			width: 430px;
			text-align: start;
			margin: 0;
			background: none;
			background-blend-mode: none
			
		}

		
	
	}

	&__send-button {

		content: url('./send.svg');
		transform: scale(1.55);
		display: block;
	}

	&__send-button-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 64px !important;
		height: 64px;
		cursor: pointer;
	}

	&__append-file-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 64px !important;
		height: 64px;
		cursor: pointer;
	}

	&__file-button {
		content: url('./file.svg');
		transform: scale(1.55);
		display: block;
	}

	&__top-bar {
		height: 60px;
		border-bottom: 1px solid $border-color;
	}

	&__top-bar {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__name {
		@include getFont($size: large, $weight: 800, $color: $gray-color, $height: 24px);
	}

	&__empty {
		position: absolute;
		top: 50%;
		left: 25%;
		@include getFont($size: large, $weight: 500, $color: $gray-color, $height: 24px);
	}

	&__message-list {
		list-style: none;
		padding: 0;
	}

	&__container {
		margin-top: auto;

		margin-bottom: 20px;
	}
}