@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.message {
	display: flex;
	margin-top: 30px;
	padding: 0 50px;
	flex-wrap: wrap;
	&__user-name {
		@include getFont($size: medium, $weight: 600, $color: $blue-color, $height: 24px);

		&--our {
			@include getFont($size: medium, $weight: 600, $color: $green-color, $height: 24px);
		}
	}

	&__time {
		margin-bottom: -3px;
		@include getFont($size: small, $weight: 500, $color: $gray-color, $height: 24px);
	}

	&__body {
		word-break: break-word;
		@include getFont($size: medium, $weight: 500, $color: $gray-color, $height: 24px);
	}

	&__title {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 5px;

	}

	&__image {
		width: 442px;
		height: 248px;
		border: 5px solid $border-color-opacity;
		object-fit: cover;
	}
	&__image-container {
		margin-top: 10px;
	}


	&__image-item {
		width: 442px;
		height: 248px;
		object-fit: cover;
		border: 5px solid $border-color-opacity;
	}

	
}