@import "./variables.scss";
@import "./mixins.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans", sans-serif;

	
	scrollbar-width: none;

	*::-webkit-scrollbar {
		width: 0;
	}

	*::-webkit-scrollbar-button {
		height: 10px;
	}

	*::-webkit-scrollbar-track {
		border-radius: 10px;
		background: rgba(0, 0, 0, 0);
	}

	*::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.2);
	}

	*::-webkit-scrollbar-thumb:hover {
		background: rgba(0, 0, 0, 0.3);
	}

	*::-webkit-scrollbar-thumb:active {
		background: rgba(0, 0, 0, .9);
	}

}

.image {
	background-image: url('./cat.webp');
	object-fit: cover;
}

.app {
	height: 100vh;
	max-height: 100vh;
	width: 100%;

	@include getMainColorTransparent();


}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
}

.underline {
	text-decoration: underline;
}

