@mixin withGradient ($lc1, $lc2, $rc1, $rc2, $c) {
	background: linear-gradient(to bottom, $lc1 0%, $lc2 100%),
	radial-gradient(at top center, $rc1 0%, $rc2 120%) $c;
	background-blend-mode: multiply, multiply;
}

@mixin getFont ($size, $weight, $color, $height) {
	font-size: $size;
	font-weight: $weight;
	color: $color;
	line-height: height;
}

@mixin getMainColor () {
	@include withGradient(hsla(0, 17%, 7%, 0.8),
			hsla(0, 10%, 25%, 0.8), rgba(105, 30, 128, 0.8), rgba(19, 56, 180, 0.8), rgba(255, 255, 255, 0.8));
}

@mixin getMainColorHover () {
	@include withGradient(rgba(135, 61, 18, 0.8),
			rgba(98, 75, 75, 0.8), rgba(105, 30, 128, 0.8), rgba(19, 56, 180, 0.8), rgba(255, 255, 255, 0.8));
}

@mixin getMainColorTransparent () {
	@include withGradient(hsla(0, 17%, 7%, 0.3),
		hsla(0, 10%, 25%, 0.9), rgba(105, 30, 128, 0.4), rgba(19, 56, 180, 0.3), rgba(255, 255, 255, 0.1));
}

@mixin getMainColorTransparentHover () {
	@include withGradient(hsla(0, 17%, 7%, 0.3),
			hsla(0, 10%, 25%, 0.9), rgba(105, 30, 128, 0.3), rgba(19, 56, 180, 0.3), rgba(255, 255, 255, 0.1));
}

@mixin getActiveColor () {
@include withGradient(rgba(135, 61, 18, 0.4), 
			rgba(77, 61, 61, 0.1), rgba(105, 30, 128, 0.4), rgba(19, 57, 180, 0.1), rgba(255, 255, 255, 0.1));
}