$background-color: #150F0F;
$auth-body-color--hover: #2e2424e5;
$auth-body-color: #2E2424;
$auth-form-color: #3c3c3c96;
$auth-form-color--hover: rgba(77, 77, 77, 0.479);
$button-color: #794747;
$green-color: #667947;