$background-color: #150F0F;

$auth-body-color--hover: #2e2424e5;
$auth-body-color: #2E2424;

$auth-form-color: rgba(100, 23, 23, 0.8);
$auth-form-color--hover: rgba(77, 77, 77, 0.479);
$auth-form-gradient: linear-gradient(90deg, rgb(41, 32, 32) 0%, rgba(60, 60, 60, 1) 22%, rgba(60, 60, 60, 1) 83%, rgb(41, 32, 32) 100%);


$button-color: #685353;
$green-color: #667947;
$gray-color: #8b8686;