@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.modals {
	position: fixed;
	opacity: 0;
	pointer-events: none;

	&--active {
		pointer-events: all;
		opacity: 1;
		transition: 0.1s;
	}
}