@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.info {
	margin-left: 5%;

	&__header {
		display: flex;
		justify-content: left;
		flex-direction: column;
		padding-bottom: 10px;
	}

	&__room-about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left;
	}

	&__name {
		@include getFont($size: large, $weight: 500, $color: $text-gray-color, $height: 24px);
		margin-bottom: 10px;
	}

	&__flex-row-wrapper {
		@include getFont($size: small, $weight: 500, $color: $text-gray-color, $height: 24px);
	}

	&__line {
		background-color: $border-color;
		height: 8px;
		width: 95%;
		border-radius: 10%;
	}

	&__members {
		width: fit-content;
		@include getFont($size: medium, $weight: 500, $color: $text-gray-color, $height: 24px);
		border-bottom: 1px solid $border-color;
	}

	&__users-container {

	}

	&__users {
		margin-left: 10px;
		margin-top: 20px;
		overflow-y: scroll;
		@media(max-height: 1080px) {
			height: 60vh;
		}
		@media(max-height: 860px) {
			height: 50vh;
		}
		@media(max-height: 620px) {
			height: 45vh;
		}
		@media(max-height: 620px) {
			height: 35vh;
		}
		@media(max-height: 470px) {
			height: 35vh;
		}
		@include getFont($size: medium, $weight: 800, $color: $blue-color, $height: 24px);
	}

	&__user {
		padding-bottom: 20px;
		display: flex;
		gap: 10px;
		align-items: baseline;

		&--our {
			color: $green-color;
		}
	}

	&__online {
		content: url('../online.svg');
		width: 9px;
		filter: blur(1px);
	}
}