@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.auth {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 1200px;
	height: 680px;
	border-radius: 16px;
	@include withGradient(#41292904, #88424205, #9f27c405, #1339b409, #ffffff09);

	&:hover {
		@include withGradient(#41292904, #88424205, #9f27c411, #1339b409, #ffffff09);
		transition: all .2s;
	}

	&__form {
		position: absolute;
		width: 60%;
		height: 65%;
		border-radius: 16px;
		@include withGradient(#41292904, #3a1e1eb9, #9f27c411, #1339b409, #ffffff09);
		justify-content: center;
		box-shadow: 1px 1px 10px $background-color;
		display:flex;
		&:hover {
			box-shadow: 1px 1px 60px $background-color;
			transition: all .2s;
		}
	}

	&__form-container {
		position: relative;
		width: 600px;
		height: 250px;
		top: 15%;
		box-sizing: border-box;
		gap: 80px;
		
	}

	&__title {
		display: flex;
		justify-content: center;
		gap: 30px;
		font-size:xx-large;
		font-weight: bold;
		color: rgb(0, 0, 0);
		margin-bottom: 10px;
		cursor: pointer	;
			
		div:hover {
			color: rgba(24, 119, 119, 0.904);
		}

		&--active {
			color:rgb(51, 6, 43);
			
		}
	}

	&__form-module {
		position: relative;
		box-sizing: border-box;
		width: 100%;
		padding-top: 5px;
		height: 235px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		span {
			color: white;
		}
	}

	&__input_wrapper {
		box-sizing: border-box;
		text-align: center;
	}


	&__input {
		input {
			width: 500px;
			padding: 6px 10px;
			margin: 8px 0 25px;
			box-sizing: border-box;
			text-align: center;
			font-family: inherit;
			font-size: inherit;
			line-height: inherit;
			border-radius: 4px;
			color: $gray-color;
			@include withGradient(#41292941, #251919b9, #9f27c411, #1339b409, #ffffff09);
		}
		
		&--error {
	
			input {
			box-shadow: 1px 1px 24px hsl(273, 100%, 51%);
			}

	}
}

	&__button {
		box-sizing: border-box;
		position:absolute;
		height: 50px;
		width: 200px;
		margin-top: 240px;
		border: none;
		border-radius: 20px;
		font-size: large;
		font-weight: 600;
	
		@include withGradient(#613b3b52, #4d3e3eb9, #9f27c411, #1339b409, #ffffff09);
		&:hover {
			box-shadow: 1px 1px 24px $green-color;
			transition: all .2s;
		}
	}


	&__error {
		position: relative;
		bottom: 10px;
		color: $gray-color;
	}

	
}