@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.room {

	border-top: 1px solid $border-color;

	&:hover {
			@include getMainColorHover();
	}

	&__list-item {
		list-style: none;
	}

	&__room {
		display: flex;
		width: 100%;
		align-items: center;
		color: $gray-color;
		min-height: 60px;
		line-height: 2;
		margin: 1px 4px 0 4px;
		padding-left: 10px;	
		

		&--active {
			@include getActiveColor();
		}
	

	}

	&__action-dots {
		margin-left: auto;
		padding-right: 15px;
		opacity: 0;
		pointer-events: none;
		font-size: xx-large;
		position: relative;
		bottom: 10px;
		&--active {
			opacity: 1;
			cursor: pointer;
			pointer-events: all;
			text-align: start;
		}
	}

	&__modals {
		position: absolute;
		display: block;
		padding-top: 20px;
		padding-left: 10px;
		left: 35px;
		width: 200px;
		height: 120px;
		border-radius: 0 16px 16px 0;
		@include getMainColor();
	}

	&__modals-action {

		
		@include getFont($size: small, $weight: 400, $color: $gray-color, $height: 24px);

		&:hover {
			@include getFont($size: small, $weight: 400, $color: $green-color, $height: 24px);
		}

	}

	&__modals-copy-icon {
		
		background-image: url('copy.svg') no-repeat;

	}


	&__empty {
		position: absolute;
		top: 50%;
		left: 20%;
		@include getFont($size: large, $weight: 500, $color: $gray-color, $height: 24px);
	}
}